
Task 1

Web scraping and analysis

Scraping data from Skytrax If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use Python and BeautifulSoup to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [ ]:
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
from bs4 import BeautifulSoup
from textblob import TextBlob
from wordcloud import WordCloud
from string import digits
import requests
import pandas as pd
import nltk
import string
import seaborn as sns
import re
nltk.download("stopwords")
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())

    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [ ]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  I will never travel with Br...
1  ✅ Trip Verified |  I am already in Portugal so...
2  ✅ Trip Verified |  Terrible. Avoid this airlin...
3  ✅ Trip Verified |  Despite being a gold member...
4  Not Verified | Regarding the aircraft and seat...

In [ ]:
#Saving the dataframe in csv file
df.to_csv("BA_reviews3.csv")

Data cleaning

In [ ]:
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [ ]:
import pandas as pd

csv_path = "BA_reviews3.csv"
df1 = pd.read_csv(csv_path)
df1.reset_index(drop=True, inplace=True)

print(df1['reviews'])

0      ✅ Trip Verified |  I will never travel with Br...
1      ✅ Trip Verified |  I am already in Portugal so...
2      ✅ Trip Verified |  Terrible. Avoid this airlin...
3      ✅ Trip Verified |  Despite being a gold member...
4      Not Verified | Regarding the aircraft and seat...
                             ...
995    ✅ Trip Verified |  Had four flights in total w...
996    ✅ Trip Verified |  Johannesburg to Heathrow. B...
997    ✅ Trip Verified |  The queue for bag drop was ...
998    ✅ Trip Verified |  British Airways changed pla...
999    ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
Name: reviews, Length: 1000, dtype: object

In [ ]:
df1.info()
df1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   reviews     1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

        Unnamed: 0
count  1000.000000
mean    499.500000
std     288.819436
min       0.000000
25%     249.750000
50%     499.500000
75%     749.250000
max     999.000000

In [ ]:
df1['reviews'] = df1['reviews'].str.strip()
df1['reviews']=df1['reviews'].str.lstrip('✅Trip Verified |')
df1['reviews']=df1['reviews'].str.lstrip('Not Verified |')
df1['reviews']= df1['reviews'].str.lower()
print(df1)

     Unnamed: 0                                            reviews
0             0  i will never travel with british airways again...
1             1  i am already in portugal so contacted them tod...
2             2  ble. avoid this airline. it’s now becoming reg...
3             3  despite being a gold member, the british airwa...
4             4  regarding the aircraft and seat: the business ...
..          ...                                                ...
995         995  had four flights in total with this airline, f...
996         996  johannesburg to heathrow. british airways are ...
997         997  he queue for bag drop was massive and did not ...
998         998  british airways changed plane and consequently...
999         999  mumbai to edinburgh via london. i'm quite surp...

[1000 rows x 2 columns]

Sentiment analysis of reviews using nltk

In [ ]:
#remove punctuation
df1['reviews'] = df1['reviews'].str.replace('[^\w\s]','')
print(df1['reviews'])

0      i will never travel with british airways again...
1      i am already in portugal so contacted them tod...
2      ble avoid this airline its now becoming regula...
3      despite being a gold member the british airway...
4      regarding the aircraft and seat the business c...
                             ...
995    had four flights in total with this airline fi...
996    johannesburg to heathrow british airways are n...
997    he queue for bag drop was massive and did not ...
998    british airways changed plane and consequently...
999    mumbai to edinburgh via london im quite surpri...
Name: reviews, Length: 1000, dtype: object

<ipython-input-22-05b35ac04ac2>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['reviews'] = df1['reviews'].str.replace('[^\w\s]','')

In [ ]:
# tokenize
print(df1.iloc[1,1])

    l r e   n   p r u g l     c n c e   h e     n   h e   c n c e l l e     r e u r n   f l g h   b e c u e     w   1 0   n u e   l e   c l l n g   h e   e v e n   h u g h     r e   f r   2   h u r     g e   h r u g h   h e     b e f r e   n w       u n b l e     g e   b c k   n   h e   h v e   k e p   h e   5 0 0   p u n   c u e r   e r v c e     h c k n g   h e   h v e   n   n e n n   f   h e l p n g   u

In [ ]:
df1['reviews'] = df1['reviews'].apply(lambda x: ' '.join([word for word in x if word not in (stop_words)]))
print(df1.head(20))

    Unnamed: 0                                            reviews
0            0    w l l   n e v e r   r v e l   w h   b r h   ...
1            1      l r e   n   p r u g l     c n c e   h e   ...
2            2  b l e   v   h   r l n e     n w   b e c n g   ...
3            3  e p e   b e n g     g l   e b e r   h e   b r ...
4            4  r e g r n g   h e   r c r f   n   e   h e   b ...
5            5    r v e l l e   w h   b r h   r w   f r   w e ...
6            6  f   w   l u   w h   e v e r     p l n n n g   ...
7            7  h   h e   w r   e x p e r e n c e   h e   f l ...
8            8  h e   g r u n   f f   w e r e   n   h e l p f ...
9            9  e c n   e   b   p r e u   e c n   n     n e w ...
10          10  h e   c h n g e   u r   f l g h   f r   b r u ...
11          11    c p e n h g e n   h e     c h c   c k e   c ...
12          12  w r   e x p e r e n c e   f     l f e   r n g ...
13          13  u e     c e   h r n g   w h   c h   p c f c   ...
14          14  l h r   c h e c k   n   w   q u c k     h e   ...
15          15    w u l n   r e c e n   b r h   r w     l l   ...
16          16  b l u e l   h r r b l e   e x p e r e n c e   ...
17          17  h     h e   w r   r l n e   n   n e   h n g   ...
18          18    w l l   n e v e r   f l   b r h   r w   g n ...
19          19  w r   r c r f     h v e   e v e r   f l w n   ...

In [ ]:
def polarity_calc(text):
    try:
        return TextBlob(text).sentiment.polarity
    except:
        return None



def tag_cal(num):
    if num<0:
        return 'Negative'
    elif num>0:
        return 'Positive'
    else:
        return 'Neutral'


df1['polarity'] = df1['reviews'].apply(polarity_calc)


df1['tag'] = df1['polarity'].apply(tag_cal)


print(df1)

      Unnamed: 0                                            reviews  polarity  \
0              0    w l l   n e v e r   r v e l   w h   b r h   ...       0.0
1              1      l r e   n   p r u g l     c n c e   h e   ...       0.0
2              2  b l e   v   h   r l n e     n w   b e c n g   ...       0.0
3              3  e p e   b e n g     g l   e b e r   h e   b r ...       0.0
4              4  r e g r n g   h e   r c r f   n   e   h e   b ...       0.0
...          ...                                                ...       ...
1995        1995  r e v e w       f l e w   l n n   h e h r w   ...       0.0
1996        1996  r e v e w         f l   h   r u e   3 4   e   ...       0.0
1997        1997  f l e w   z u r c h     l n n   h e h r w   v ...       0.0
1998        1998  r e v e w       f l e w   b r h   r w   f r   ...       0.0
1999        1999  r e v e w     f l e w   l n n   g w c k     p ...       0.0

          tag
0     Neutral
1     Neutral
2     Neutral
3     Neutral
4     Neutral
...       ...
1995  Neutral
1996  Neutral
1997  Neutral
1998  Neutral
1999  Neutral

[2000 rows x 4 columns]

Analyze

In [ ]:
(df1.groupby('tag').size()/df1['tag'].count())*100

tag
Neutral    100.0
dtype: float64

In [ ]:
# positive
text = " "
for ind in df1.index:
    if df1['tag'][ind] == "Positive":
        text = text + df1['reviews'][ind]

wordcloud_positive = WordCloud().generate(text)


# Display the generated image:
plt.imshow(wordcloud_positive, interpolation='bilinear')
plt.axis("off")
plt.show()

ValueError: ignored

In [ ]:
#negative
text2= " "
for ind in df1.index:
    if df1['tag'][ind] == "Negative":
        text2 = text2 + df1['reviews'][ind]
wordcloud_negative = WordCloud().generate(text2)
plt.imshow(wordcloud_negative, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
df1['tag'].value_counts().plot(kind='bar')
sns.set(font_scale=1.4)
df1['tag'].value_counts().plot(kind='bar', figsize=(7, 6), rot=0)
plt.xlabel("Sentiment", labelpad=14)
plt.ylabel("No of reviews", labelpad=14)
plt.title("Sentient counts", y=1.02);

In [ ]:
reviews_list = df1['reviews'].tolist()
print(reviews_list)

In [ ]:
from nltk import ngrams
from nltk.probability import FreqDist

from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer

#split the text of all reviews into a list of words
words = reviews.split(" ")

#remove certain words that will not be used to determine the positive or negative sentiment
stopwords = text.ENGLISH_STOP_WORDS.union(['flight', 'ba', "passenger","u", "london","airway","british","airline",\
                                           "heathrow","plane","lhr","review"])


new_words = [word for word in words if word not in stopwords]

nlp_words=FreqDist(new_words).most_common(20)

#create a dataframe of these word and its frequencies
all_fdist = pd.Series(dict(nlp_words)) from nltk import ngrams
from nltk.probability import FreqDist

from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer

#split the text of all reviews into a list of words
words = reviews.split(" ")

#remove certain words that will not be used to determine the positive or negative sentiment
stopwords = text.ENGLISH_STOP_WORDS.union(['flight', 'ba', "passenger","u", "london","airway","british","airline",\
                                           "heathrow","plane","lhr","review","ba12","b747436","1998"])


new_words = [word for word in words if word not in stopwords]

nlp_words=FreqDist(new_words).most_common(20)

#create a dataframe of these word and its frequencies
all_fdist = pd.Series(dict(nlp_words))

In [ ]:
## Setting figure, ax into variables
fig, ax = plt.subplots(figsize=(15,8))

## Seaborn plotting using Pandas attributes + xtick rotation for ease of viewing
all_plot = sns.barplot(x=all_fdist.index, y=all_fdist.values, ax=ax)
all_plot.bar_label(all_plot.containers[0])
plt.xticks(rotation=30)

In [ ]:
## Imports
import nltk.collocations as collocations
from nltk import FreqDist, bigrams
reviews_list = df1['reviews'].tolist()

all_words1 = []

for review in reviews_list:
    words = review.split()
    all_words1.extend(words)

print(all_words1)

stopwords = text.ENGLISH_STOP_WORDS.union(['flight', 'ba', "passenger","u", "london","airway","british","airline","felt","like"])

all_words11 = [all_words1 for all_words1 in words if all_words1 not in stopwords]

In [ ]:
def get_freq_dist(all_words11,number_of_ngrams ):
    from nltk import ngrams

    ## Generate bigrams
    ngrams = ngrams(all_words11, number_of_ngrams)

    ## Creating FreqDist
    ngram_fd = FreqDist(ngrams).most_common(25)

    ## Sort values by highest frequency
    ngram_sorted = {k:v for k,v in sorted(ngram_fd, key=lambda item:item[1])}

    ## Join bigram tokens with '_' + maintain sorting
    ngram_joined = {'_'.join(k):v for k,v in sorted(ngram_fd, key=lambda item:item[1])}

    ## Convert to Pandas series for easy plotting
    ngram_freqdist = pd.Series(ngram_joined)
    plt.figure(figsize=(10,10))
    ax = ngram_freqdist.plot(kind="barh")

    return ax


get_freq_dist(all_words11,3)